
@import "./styles/Fonts.css";
@import "./styles/App.css";
@import "./styles/Components.css";
@import "./styles/Contact.css";
@import "./styles/Elements.css";
/* @import "@wojtekmaj/react-daterange-picker/dist/DateRangePicker.css"; */
/* @import "react-calendar/dist/Calendar.css"; */
@import "./styles/MiniCalendar.css";
@import "./styles/DatePickerCalendar.css";
@import '@fortawesome/fontawesome-free/css/all.min.css';



